{% extends 'base_bck.html'%}
{% load static%}

{% block content %}
<!-- Main Section Start -->
			<div class="main-section pt-5">
				<div class="page-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								<div class="tabs-holder horizontal">
									<ul class="stickynav-tabs nav nav-tabs">
										<li class="active">
                                            <a data-toggle="tab" href="#home">
                                                <i class="fa fa-shopping-cart text-danger"></i>Cart Items
                                            </a>
                                        </li>
										<li><a data-toggle="tab" href="#menu1"><i class="icon- icon-textsms"></i>Reviews
												(1)</a></li>
										<li><a data-toggle="tab" href="#menu3"><i class="icon- icon-info3"></i>Restaurant
												Info</a>
										</li>
									</ul>
									<div class="tab-content">
										<div id="home" class="tab-pane fade show active">
											<div class="menu-itam-holder">

												<div class="text-center p-5" id="empty-cart" style="display: none;">
                                                    <h3>Cart is empty</h3>
                                                </div>
												<div id="menu-item-list-6272" class="menu-itam-list">
													<ul>
                                                    {% if cart_items %}
														{% for item in cart_items %}
														<li id="cart-item-{{item.id}}">
															<div class="image-holder"><img src="{{ item.fooditem.images.url}}" alt=""></div>
															<div class="text-holder">
																<h6>{{item.fooditem}}</h6>
																<span>{{item.fooditem.description}}</span>
                                                                <a href="{% url 'vendor_detail' item.fooditem.vendor.vendor_slug%}" class="badge badge-warning">{{item.fooditem.vendor}}</a>
															</div>
															<div class="price-holder">
																<span class="price">{{ item.fooditem.price }}</span>
																<a href="#" class="decrease_cart" data-id="{{item.fooditem.id}}" id="{{item.id}}" data-url="{% url 'decrease_cart' item.fooditem.id %}" style="margin-right: 20px;"><i class="icon-minus text-color"></i></a>
																<label id="qty-{{item.fooditem.id}}">0</label>
																<a href="#" class="add_to_cart" data-id="{{item.fooditem.id}}" data-url="{% url 'add_to_cart' item.fooditem.id %}"><i class="icon-plus4 text-color"></i></a>
                                                                <a href="#" class="delete_cart" data-id="{{item.id}}" data-url="{% url 'delete_cart' item.id %}"><i class="icon-delete text-color"></i></a>
															</div>
														</li>
														{% endfor %}
                                                    {% else %}
                                                        <div class="text-center p-5">
                                                            <h3>Cart is empty</h3>
                                                        </div>
													{% endif %}
													</ul>
													
												</div>
												{% for item in cart_items%}
												<span id="qty-{{item.fooditem.id}}" class="item_qty d-none" data-qty="{{item.quantity}}">{{item.quantity}}</span>
												{% endfor %}
											</div>
										</div>
										<div id="menu1" class="tab-pane fade">
											<div class="reviews-holder">
												<div class="add-new-review-holder" style="display: none;">
													<div class="row">
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
															<div class="elements-title">
																<h3>Rate and Write a Review</h3>
																<a href="#" class="close-post-new-reviews-btn">Close</a>
															</div>
														</div>
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">Please login
															in order to post review.
														</div>
													</div>
												</div>
												<div class="reviwes-restaurant-holder">
													<div class="over-all-rating-holder">
														<div class="overall-ratings-container">
															<div class="overall-rating">
																<h6>Customer Reviews For Food Bakery</h6>
																<ul class="reviews-box">
																	<li>
																		<em>5.0 </em>
																		<div class="rating-star">
																			<span class="rating-box" style="width: 100%;"></span>
																		</div>
																		<span class="reviews-count">(based on 1
																			reviews)</span>
																	</li>
																	<li>
																		<div class="icon-holder"><i class="icon-smile"></i>
																		</div>
																		<p><span>100%</span> of diners recommend this
																			restaurant
																		</p>
																	</li>
																</ul>
															</div>
														</div>
														<div class="ratings-summary-container">
															<div class="rating-summary">
																<h5>Rating summary</h5>
																<ul>
																	<li>
																		<span class="review-category">Service</span>
																		<div class="rating-star">
																			<span class="rating-box" style="width:100%"></span>
																		</div>
																	</li>
																	<li>
																		<span class="review-category">Quality</span>
																		<div class="rating-star">
																			<span class="rating-box" style="width:100%"></span>
																		</div>
																	</li>
																	<li>
																		<span class="review-category">Value</span>
																		<div class="rating-star">
																			<span class="rating-box" style="width:100%"></span>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
													<div class="review-listing">
														<div class="elements-title">
															<h5>Customer Reviews For Restaurant Demo <span>1</span></h5>
															<div class="sort-by">
																<ul class="reviews-sortby">
																	<li>
																		<span class="active-sort">Newest Reviews</span>
																		<div class="reviews-sort-dropdown">
																			<form>
																				<div class="input-reviews">
																					<div class="radio-field">
																						<input name="review" id="check-1" type="radio" value="newest" checked="checked">
																						<label for="check-1">Newest
																							Reviews</label>
																					</div>
																					<div class="radio-field">
																						<input name="review" id="check-2" type="radio" value="highest">
																						<label for="check-2">Highest
																							Rating</label>
																					</div>
																					<div class="radio-field">
																						<input name="review" id="check-3" type="radio" value="lowest">
																						<label for="check-3">Lowest
																							Rating</label>
																					</div>
																				</div>
																			</form>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
														<ul class="review-restaurant">
															<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
																<div class="list-holder ">
																	<div class="review-text">
																		<div class="review-title">
																			<h6>: Best Food </h6>
																			<div class="rating-holder">
																				<div class="rating-star">
																					<span style="width: 100%;" class="rating-box"></span>
																				</div>
																			</div>
																		</div>
																		<em class="review-date">25 Apr 2018</em>
																		<p>A wonderfull experience. </p>
																	</div>
																</div>
															</li>
															<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
																<div class="list-holder ">
																	<div class="review-text">
																		<div class="review-title">
																			<h6>: Best food </h6>
																			<div class="rating-holder">
																				<div class="rating-star">
																					<span style="width: 100%;" class="rating-box"></span>
																				</div>
																			</div>
																		</div>
																		<em class="review-date">25 Apr 2018</em>
																		<p>I had great food the other day </p>
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										
										<div id="menu3" class="tab-pane fade">
											<div class="contact-info-detail">
												<h5>Overview Restaurant Demo</h5>
												<p class="restaurant-desc"></p>
												<p>Base prepared fresh daily. Extra toppings are available in choose
													extraChoose
													you sauce: Go for BBQ sauce or piri piri sauce on your pizza base for no
													extra cost.Choose your cut: Triangular, square, fingers or Un cut on any
													size pizza
												</p>
												<div class="map-sec-holder">
													<div class="cs-map-section">
														<div class="cs-map">
															<div class="cs-map-content">
																<div class="mapouter">
																	<div class="gmap_canvas"><iframe width="100" height="180" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>Google Maps Generator
																		by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
														<div class="contact-info">
															<h5>Contact details</h5>
															<p>Totnes, United Kingdom</p>
															<ul>
																<li class="cell"><i class="icon-phone"></i><a href="#">+44
																		(0) 20 3310 2000</a></li>
																<li class="pizzaeast"><i class="icon-globe2"></i><a href="#">http://www.chimpgroup.com</a></li>
																<li class="email"><i class="icon-mail5"></i><a class="text-color" href="#">Send Enquiry
																		By Email</a></li>
															</ul>
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
														<div class="widget widget-timing">
															<h5>Opening Hours</h5>
															<ul>
																<li><span>Monday</span>11:00 am - 11:00 pm</li>
																<li><span>Tuesday</span>11:00 am - 11:00 pm</li>
																<li><span>Wednesday</span>11:00 am - 11:00 pm</li>
																<li><span>Thursday</span>11:00 am - 11:00 pm</li>
																<li><span>Friday</span>11:00 am - 11:00 pm</li>
																<li><span>Saturday</span>11:00 am - 11:00 pm</li>
																<li><span>Sunday</span>Off</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

                            <!-- Your Order Section-->
							<div class="sticky-sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<div class="user-order-holder">
									<div class="user-order">
										<h6><i class="icon-shopping-basket"></i>Your Order</h6>
										<!--<span class="error-message pre-order-msg">This restaurant allows Pre orders.</span>
										<span class="discount-info" style="display: block;">If you have a discount code,<br>
											you will
											be able to input it<br> at the payments stage.</span>
										<div class="select-option dev-select-fee-option">
											<ul>
												<li>
													<input id="order-pick-up-fee" type="radio" name="order_fee_type">
													<label for="order-pick-up-fee">Pick-Up</label>
													<span>£15.00</span>
												</li>
												<li>
													<input id="order-delivery-fee" checked="checked" type="radio" name="order_fee_type">
													<label for="order-delivery-fee">Delivery</label>
													<span>£10.00</span>
												</li>
											</ul>
										</div>
										<div id="dev-menu-orders-list">
											<ul class="categories-order">
												<li>
													<a href="#" class="btn-cross dev-remove-menu-item"><i class=" icon-cross3"></i></a>
													<a>Chicken Tandoori Special 12" Deep Pan</a>
													<span class="category-price">£4.50</span>
												</li>
												<li>
													<a href="#" class="btn-cross dev-remove-menu-item"><i class=" icon-cross3"></i></a>
													<a>Chicken Tandoori Special 09" Deep Pan</a>
													<span class="category-price">£6.50</span>
													<ul>
														<li>Drinks - chillies : <span class="category-price">£3.50</span>
														</li>
													</ul>
													<a href="#" data-toggle="modal" data-target="#extras-0-1" class="update-menu dev-update-menu-btn">Edit</a>
												</li>
												<li>
													<a href="#" class="btn-cross dev-remove-menu-item"><i class=" icon-cross3"></i></a>
													<a>Margherita 12" Deep Pan</a>
													<span class="category-price">£5.50</span>
												</li>
											</ul> -->
											<div class="price-area dev-menu-price-con">
												<ul>
													<li>Subtotal <span class="price">£<em id="subtotal" class="dev-menu-subtotal">{{subtotal}}</em></span></li>
													<!--<li class="restaurant-fee-con">
														<span class="fee-title">Pick-Up</span>
														<span class="price">£<em class="dev-menu-charges">15.00</em></span>
													</li> -->
													<li>VAT (13%) <span class="price">£<em id="tax" class="dev-menu-vtax">{{tax}}</em></span></li>
												</ul>
												<p class="total-price">Total <span class="price">£<em id="total" class="dev-menu-grtotal">{{grand_total}}</em></span></p>
											</div>
										</div>
										<div id="dev-no-menu-orders-list">
											<span class="success-message">There are no items in your basket.</span>
										</div>
										<div class="pay-option dev-order-pay-options">
											<ul>
												<li>
													<input id="order-cash-payment" type="radio" name="order_payment_method">
													<label for="order-cash-payment"><i class="icon-coins"></i>Cash</label>
												</li>
												<li>
													<input id="order-card-payment" type="radio" checked="checked" name="order_payment_method">
													<label for="order-card-payment"><i class="icon-credit-card4"></i>Card</label>
												</li>
											</ul>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group">
													<div class="input-group date">
														<input type="text" name="delivery_date" id="datetimepicker1" class="form-control" value="04-04-2020 10:07" placeholder="Select Date and Time">
														<span class="input-group-addon">
															<span class="icon-event_available"></span>
														</span>
													</div>
												</div>
											</div>
										</div>
										<a href="#" class="menu-order-confirm">Confirm Order</a>
										<span class="menu-loader"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Main Section End -->
{% endblock%}