{% load static %}
<!-- Footer Start -->
<footer id="footer" class="footer-style-1">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="widget widget-top-cities">
                                <div class="widget-title">
                                    <h5> Popular Cities </h5>
                                </div>
                                <ul>
                                    <li><a href="#"> Aberaeron </a></li>
                                    <li><a href="#"> Aberdeen </a></li>
                                    <li><a href="#"> Aberfeldy </a></li>
                                    <li><a href="#"> Abergavenny </a></li>
                                    <li><a href="#"> Aldershot </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="widget widget-top-cities">
                                <div class="widget-title">
                                    <h5> Popular Cuisnies </h5>
                                </div>
                                <ul>
                                    <li><a href="listings.html"> Apple Juice </a></li>
                                    <li><a href="listings.html"> BB.Q </a></li>
                                    <li><a href="listings.html"> Chicken Roast </a></li>
                                    <li><a href="listings.html"> Hot Dogs </a></li>
                                    <li><a href="listings.html"> Prawns </a></li>
                                    <li><a href="listings.html"> Steam Roast </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="widget widget-categories">
                                <div class="widget-title">
                                    <h5> Menu </h5>
                                </div>
                                <ul>
                                    <li><a href="index.html"> Home </a></li>
                                    <li><a href="blog-large.html"> Blog Large </a></li>
                                    <li><a href="contact-us.html"> Contact </a></li>
                                    <li><a href="faq.html"> FAQ’s </a></li>
                                    <li><a href="how-it-works.html"> How it works </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="widget widget-connect">
                                <div class="widget-title">
                                    <h5> Connect </h5>
                                </div>
                                <ul class="social-media">
                                    <li><a href="#" data-original-title="twitter"><i class=" icon-twitter"></i></a></li>
                                    <li><a href="#" data-original-title="linkedin"><i class="icon-linkedin"></i></a></li>
                                    <li><a href="#" data-original-title="pinterest"><i class="icon-pinterest"></i></a></li>
                                    <li><a href="#" data-original-title="google"><i class="icon-google"></i></a></li>
                                    <li><a href="#" data-original-title="instagram"><i class="icon-instagram"></i></a></li>
                                    <li><a href="#" data-original-title="youtube"><i class="icon-youtube"></i></a></li>
                                </ul>
                                <ul>
                                    <li>
                                        <span class="bgcolor"><i class="icon-ring_volume"></i></span>
                                        <p> +1 321 828 6662 </p>
                                    </li>
                                    <li>
                                        <span class="bgcolor"><i class="icon-envelope-o"></i></span>
                                        <p><a href="#"> Support@chimpstudio.com </a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright-inner">
                        <div class="copy-right">
                            <p> © 2021 Foodbakery. All Rights Reserved. Powered By <a href="#"> ChimpGroup </a>.</p>
                        </div>
                        <div class="right-logos">
                            <p>
                                <img src="{% static 'extra-images/footer-logo1.png'%}" alt="#">
                                <img src="{% static 'extra-images/footer-logo2.png'%}" alt="#">
                                <img src="{% static 'extra-images/footer-logo3.png'%}" alt="#">
                                <img src="{% static 'extra-images/footer-logo4.png'%}" alt="#">
                                <img src="{% static 'extra-images/footer-logo5.png'%}" alt="#">
                                <img src="{% static 'extra-images/footer-logo6.png'%}" alt="#">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
</div>

<script src="{% static 'zjs/responsive.menu.js'%}"></script>
    <script src="{% static 'js/swiper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js'%}"></script>
    <script src="{% static 'js/chosen.js'%}"></script>
    <script src="{% static 'js/counter.js'%}"></script>
    <script src="{% static 'js/fliters.js'%}"></script>
    <script src="{% static 'js/jquery.fitvids.js'%}"></script>
    <script src="{% static 'js/jquery.growl.js'%}"></script>
    <script src="{% static 'js/jquery.matchHeight-min.js'%}"></script>
    <script src="{% static 'js/masonry.pkgd.js'%}"></script>
    <script src="{% static 'js/bootstrap-slider.js'%}"></script>
    <script src="{% static 'js/wow.js'%}"></script>
    <script src="{% static 'js/jquery-ui.js'%}"></script>
    <script src="{% static 'js/theia-sticky-sidebar.js'%}"></script>
    <script src="{% static 'js/functions.js'%}"></script>
</body>

</html>